doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/style.css")
    body 
        div.header 
            div(class="image")
            div(class="hd")
                div(class="top")
                    div(class="sns")
                        p INSTARGRAM 
                        p |
                        p FACEBOOK
                    div(class="log")
                        p Log in 
                        p |
                        p Sign up
                hr
                div(class="middle")
                    a(href="/") 
                        img(src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA3MDhfMTYy%2FMDAxNTk0MTcxNTQwNjA4.fzy_kZCiizUYaZ8PKwybMtUHP31uKdaqxgynjg9xl5Yg.fB2xzLO7I9HKR0hUzjNS9Pep5VQVcs1YPlf7fe3B0bEg.JPEG.handeul2018%2F007.jpg&type=sc960_832" width="170px")
                    div(class="name")
                        div . pit_a_pet 
                        a(href="/")  피 터 펫
                hr
                div(class="bottom")
                    a(href="about") ABOUT
                    a(href="review") REVIEW
                    a(href="pet") 분양
                    a(href="inquiry") 문의
                    a(href="center") 애견훈련소
                    a(href="beauty") 미용
