doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/style.css")
    body 
        div.header 
            div.hd
                div.top
                    div.sns
                        p INSTARGRAM 
                        p |
                        p FACEBOOK
                    div.log
                        p Log in 
                        p |
                        p Sign up
                hr
                div.middle
                    a(href="/") 
                        img(src="https://cdn.dribbble.com/users/230124/screenshots/14629559/media/682783908a38b3339c304ccea41e6eaf.jpg?compress=1&resize=400x300"  width="125px")
                    div.name
                        a(href="/")  Pit_a_pet
                hr
                div.bottom
                    a(href="about") ABOUT
                    a(href="review") REVIEW
                    a(href="pet") 분양
                    a(href="inquiry") 문의
                    a(href="center") 애견훈련소
                    a(href="beauty") 미용
        div.main
            block main 
        div.footer
                div.ftxt
                    p Designed by Jisoyung 
                    p PN. 010-5768-3409
                    p 공주시 금학동 우금티로 580 민수마이아파 트

