extends  ../layouts/base.pug

block about
    
    div.header2
        a(href="notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치

    div.slide
        iframe(width="100%" height="600" src="https://www.youtube.com/embed/dqaMMyOiQ7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div.slide2
        div.bimg
            div.txt 