extends  ../layouts/base.pug

block about
    
    div.header2
        a(href="notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치
    hr

    div.slide7
        iframe(width="100%" height="600" src="https://www.youtube.com/embed/dqaMMyOiQ7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div.slide8
        div.bimg
                div.txt
                    p 버림받았던 강아지의 전후 사진입니다.
                    p 옛날의 모습보다는 새 가족이 생긴 지금 모습이
                    p 더 밝아보입니다. 피터펫은 이러한 동물들을 늘리고 싶습니다. 
                    p 새 가족을 찾은 밝은 동물들의 모습이 보고싶습니다.
                        
    div.slide9
        div.bimg
         img(src="https://cdn-ds.com/blogs-media/sites/566/2018/07/06204734/a-dog-with-goggles-peeking-out-a-moving-car-window-under-the-bright-sun_b.jpg")

    div.slide10
        div.bg
            div.img
                div.txt1
                    p "올바른 반려동물 문화를 지향합니다."
                    p 국내 최초 안락사 없는 유기동물 보호소를 운영하고 있습니다. 
                    p 지속적인 향후 발전방안을 위해 끊임없이 고민하고
                    p 실천하는 유기동물보호소로 자리매김하고 있습니다.

                div.txt2
                    p 피터펫은 반려동물의 행복과 고객만족을 위해
                    p 항상 변화하며 노력을 기울이고 있습니다. 
                    p 건강하고 올바른 반려동물문화를 지향하고 항상 처음과 같이
                    p 곧은 길로 나아가고자 지속적인 노력에 힘을 기울이고 있습니다.

    div.slide11
        div.img5
            div.txt

                p 피터펫은
                hr
                p 언제나 보호중인 아이들과 
                p 입양 시 더욱 건강하고 행복한 삶을
                p  선물해 드리기 위해 노력을 기울이고 있습니다.
                
    