extends  ../layouts/base.pug

block loc
    div.header2
        a(href="/notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치
    
    div.title
        p |
        p 피터펫 위치
        p |

    div.location
        div.navi
            a(href="https://map.naver.com/v5/directions/-/14151445.961937536,4361634.407894522,%EA%B8%88%ED%95%99e%ED%8E%B8%ED%95%9C%EC%84%B8%EC%83%81%EC%95%84%ED%8C%8C%ED%8A%B8,17696092,PLACE_POI/-/car?c=14151445.9619375,4361634.4078945,15,0,0,0,dh") 
                p 길 바로가기 >>
            img(src="https://www.google.com/maps/vt/data=YIuMDootK4Qccd28GvObrEhxab0KIYF7aLls1yqT-D-QBjajE1bxJAtBZ7DpgImHce9fCxX-l6pCwT-AceDnNz4hcBRrDT9JOVHTbRAuGVSYQkGqJZrizkHboZgqJbNLsHA-La0IbpgojDHJ4ki0s864oT-xJBJYK-1JLxQYngSRQtneBdLGRPad")