extends  ../layouts/base.pug

block main
    
    div.slide1
    div.slide2
        div.tit
            p 피터펫은 유기된 동물을 보호, 분양하는 곳 입니다.
            hr
        div.sub
            p 보살핌을 받지 못하고 있는 유기동물이나
            p 파양동물들의 가족을 찾고 있습니다.
            p 병이 들고 늙었다는 이유로 버림받고,
            p 상처입은 동물들을 보호하고 있습니다. 
            p 펫샵에서가 아닌 보호소에서 상처입고
            p 아픈 아이들의 상처를 치료해 주시고
            p 아이들의 새 가족이 되어주세요!
    div.slide3
        div.img
        div.txt
            div.tit
                p 반려견과 함꼐 보내는
                p 여름을 위한 수영장 무료 서비스!
                hr
            div.sub
                p 피터펫에서 운영하는
                p 반려동물 수영장에서
                p 반려견과 함꼐하는 물놀이!
            
            
    div.slide4
        div.txt2
            div.tit
                p 아이들을 위한 기초교육과 
                p 사회화 교육을 도와주는 서비스
                hr
            div.sub
                p 기초훈련부터 심화 훈련까지
                p 전문가를 통해 방문 혹은
                p 그룸레슨으로하는 반려견 교육
        div.img2
    div.slide5
        div.img3
        div.ifm
            div.img
            div.img2
                div.txt
                    div.tit
                        p 전문 애견미용사를 통한
                        p 위생, 미용 시스템
                        hr
                    div.sub
                        p 씻기기 어려웠거나
                        p 털이 너무 많이 빠진다면
                        p 피터펫에서 대신 해드립니다.
                div.img

    div.slide6
        div.box
            div.top
                div
                    img(src="https://www.dailysecu.com/news/photo/201712/26461_19743_1951.jpg")
                div
                    img(src="http://cdn.ksilbo.co.kr/news/photo/202106/903336_502719_3733.png")
                div
                    img(src="https://chicagosaram.com/data/file/board/thumb-3025355431_nEqkURGi_fc3285a0c3cbac6e33f7f07c256917b5d82a25ff_800x533.jpg")
                div
                    img(src="https://photo.jtbc.joins.com/news/2019/05/31/20190531105608918.jpg")
                div
                    img(src="https://post-phinf.pstatic.net/MjAxODEwMDZfMTQ2/MDAxNTM4ODI0NTM5NTY3.pud6qVuSqXziWRfeUAV2t1zsh4R1QnrEa3lUBnQPN4Ug.VcJmAWT2WbQoJlXXwU9NWRhWDzT0NzbronkzrLXCXP4g.JPEG/1538823195094.jpg?type=w1200")
                
            div.mid
                
                div
                    img(src="https://mblogthumb-phinf.pstatic.net/20141204_276/firstgjp_14176838057819gNtv_JPEG/___.jpg?type=w2")
                div
                    img(src="https://t1.daumcdn.net/cfile/tistory/2746394F54F3D4B111")
                div
                    img(src="https://i2.wp.com/gyogamman.com/wp-content/uploads/2020/04/cat-2545195_1280_Pixabay%EB%A1%9C%EB%B6%80%ED%84%B0-%EC%9E%85%EC%88%98%EB%90%9C-jumyoung-youn%EB%8B%98%EC%9D%98-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%9E%85%EB%8B%88%EB%8B%A4..jpg?fit=1024%2C682&ssl=1")
                div
                    img(src="https://sites.google.com/site/goyangikape/_/rsrc/1433573258521/kape-imojeomo/kape-goyang-i-sajin/koliansyosheeo-nabi/calaugh022.jpg")
                div
                    img(src="https://blog.kakaocdn.net/dn/q3Lez/btqVpLuVVOI/XMk7fjV2NwpbH6t2BF23D1/img.jpg")
                div.click
                    a(href="/pet") 더 알아보기>>
            div.btm
                div
                    img(src="https://catjoa.com/dog_sale/photo_free/202110/1635400124_53382000_thum.jpg")
                div
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1QrK5XQrtUNOzG-Fng-SbxvfGUFlN3W2cN2f7Yniv7eJZ5ZTwlg9zdJWUbzZPsnr6Zog&usqp=CAU")
                div
                    img(src="http://file2.instiz.net/data/file/20140807/4/6/5/4651bdb57124d56205f6335279785c4b.jpg")
                div
                    img(src="https://www.dog-zzang.co.kr/dog_sale/photo_free/202104/1619585804_82457100.jpg")
                div
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCPeb5iIolzwH1HaUqubaoMyLG-goutI1-Zw&usqp=CAU")