extends  ../layouts/base.pug

block order

    div.header2
        a(href="/notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치

    div.title
        p |
        p 피터펫 입양 절차
        p |
    div.fade
        div.slide12
            ul 
                li 
                    div.box
                        p 반려동물 입양 절차
                li 
                    div.box1
                        p 1. 입양 신청서 작성
                        p 가족이 되고 싶은 아이를 정해
                        p 입양 신청서를 작성합니다.
                li 
                    div.box2
                        p 2. 전화 상담
                        p 입양서신청서를 검토해 1차로 선정된
                        p 신청자에게 전화드려 2차 전화 상담을 합니다.
                li 
                    div.box3
                        p 3. 피터펫 방문
                        p 피터펫 방문이 확정되면 방문하실
                        p 날짜와 시간을 협의합니다.

                li 
                    div.box4
                        p 4. 면담
                        p 피터펫에서 3차 면담을 통해 입양이 결정되면
                        p 입양동물을 데려갈 날짜와 시간을 정합니다.

                li 
                    div.box5
                        p 5. 입양가정 방문
                        p 입양가정에 방문해 입양동물을 인계하는 것으로
                        p 입양이 완료됩니다. 
                        p (가정 방문 후 입양결정이 취소될 수도 있습니다.)