extends  ../layouts/base.pug

block order

    div.header2
        a(href="/notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치
    div.fade
        div.slide12
            ul 
                li 
                li 
                    img(src="https://image.bada.io/files/crawling/2021/06/30/bobaedream/38733896_s0B4w97eoujn89osma.gif"  width="500px")
                li 
                li 