extends  ../layouts/base.pug

block story

    div.header2
        a(href="/notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치


    div.title
        p |
        p 시설 소개
        p |

    div.intro 
        div.first
            img(src="https://t1.daumcdn.net/cfile/tistory/9967E1365BB373570D")
            img(src="http://img.khan.co.kr/lady/201510/20151006143749_1_dogtogether1.jpg")
            img(src="https://media.istockphoto.com/photos/agility-dog-with-a-red-border-collie-picture-id503740342?k=20&m=503740342&s=612x612&w=0&h=Skibl60tPdxTRl7c9GNdkUyrzK-IcCdI3a1nuMutBL0=")
        
        div.sec
            img(src="https://www.upinews.kr/data/upi/image/2020/07/27/upi202007270015.680x.0.jpg")
            img(src="https://www.fnnews.com/resource/media/image/2020/08/09/202008091738503668_l.jpg")
            img(src="http://img.einet.kr/P201804024/facilities/6/3.jpg?tt=49dBR")

        div.thr
            img(src="https://image.edaily.co.kr/images/Photo/files/NP/S/2019/08/PS19083100193.jpg")
            img(src="https://static.cdn.soomgo.com/upload/service/1f2ed417-774d-40ae-bf39-3e46d2600c52.jpg")
            img(src="https://lh3.googleusercontent.com/proxy/VfDmW9Y71KQF1bKyzAbpFkLL1NBcKUqyoSaOcIt-YMUUHpfz4xFbjztuSq8h6PmhoQpqJG-8C7TEYignNEVZ5RqKuQ8sHxMOJ8ocGl0PNOIIDs8aixUM4EOPcGOoLFND8bdQtkRy2epCRX7TPcRt6AAv5g-uqQr6NZzRix_bJmGYh3Zdjeo")

        div.four
            img(src="http://www.mkhealth.co.kr/news/photo/202001/img_MKH200123008_0.jpg")
            img(src="https://ilyosisa.co.kr/data/photos/202103/227493_121370_345.jpg")
            img(src="http://aegyeon.newsyonhap.com/upload/direct/photo/2020/07/13/%EC%95%A0%EA%B2%AC%EB%AF%B8%EC%9A%A9%ED%95%99%EC%9B%90_%EC%95%A0%EA%B2%AC%ED%95%99%EC%9B%90_%EC%95%A0%EA%B2%AC%EB%AF%B8%EC%9A%A9_%EB%AF%B8%EC%9A%A9%EC%95%A0%EA%B2%AC_%EB%AF%B8%EC%9A%A9%ED%95%99%EC%9B%90%EC%95%A0%EA%B2%AC.jpg")

        div.fif
            img(src="http://image.bom.co.kr/product/detail/BPQ/2104071530038679/_600.jpg")
            img(src="https://lh3.googleusercontent.com/proxy/gJJwXlAx2JGNwhqABGXiSwrB6U--ElFnrnE1NpzqiFN3E9YZiJNhSxr_7AnhW1QOrgFY22pHw_sY9i_QMW8np2nBZS0hbJnpz3d_bPajLYPzEpIpzaAr42OessdQDC-65lgupzOZWR6urpPEzayhV2sWrgrcWzJ_WdFeXSl6uw")
            img(src="https://cdn.imweb.me/upload/S202002259d2c4f16c33cd/1ffe8b2c83665.jpg")

        div.six
            img(src="https://i.pinimg.com/474x/2e/d3/ae/2ed3ae0e08766b0f7d86cea6934e3528.jpg")
            img(src="https://modo-phinf.pstatic.net/20170907_71/1504749878316arWXk_JPEG/mosa9Bn2UH.jpeg?type=w1100")
            img(src="http://roveworks7.cdn3.cafe24.com/interior/1f/infodesk-1f.jpg")
