extends  ../layouts/base.pug

block write

   div.header2
        a(href="/notice") 공지사항
        p |
        a(href="story") 시설 소개
        p |
        a(href="order") 입양절차
        p |
        a(href="loc") 위치
   form(action="/notice" method="POST")
        div
            label(htmlFor="title")
            input(type="text" name="title" id="title" required)
        div
            label(htmlFor="desc")
            input(type="text" name="desc" id="desc" required)
                
    input(type="submit" value="Write")
