@font-face {
    font-family: "GmarketSansLight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

.header2{
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.header2 a{
    width: 100px;
    height: 100px;

    color: rgb(100, 100, 100);
    font-size: 20px;
    font-family: "GmarketSansLight";
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
    margin: 0px 20px 0px 20px;
}

.header2 p {
    color: rgb(182, 182, 182);
    font-size: 25px;
}

.slide {
    width: 100%;
    height: 700px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slide2{
    width: 100%;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    margin: 70px 0px 70px;
}

.slide2 .bimg{
    width: 80%;
    height: 500px;

    background-image: url(https://images.app.goo.gl/azNYfVGTmHMrwifx5);
}