@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IM_Hyemin-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yoonwoo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100%;
  height: 400px;
  background-image: url(https://www.trusens.com/globalassets/education/blog/b1-pet-allergy-relief.jpg?width=1440&height=540);
  background-size: cover;
}
.image {
  width: 100%;
  height: 230px;
}
.hd {
  width: 100%;
  height: 170px;
  background-color: rgb(255, 255, 255);
  position: fixed;
}

.hd .top {
  width: 100%;
  height: 30px;
  background-color: white;
  color: rgb(104, 104, 104);

  display: flex;
  flex-direction: row;
}

.top .sns {
  width: 50%;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top .sns p {
  margin: 0px 10px;
}

.top .log {
  width: 50%;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top .log p {
  font-family: "Cafe24SsurroundAir";
  margin: 0px 10px;
}

.hd .middle {
  width: 100%;
  height: 100px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.middle a {
  width: 45%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.middle .name {
  width: 55%;
  height: 100px;
}

.name div:nth-child(1) {
  width: 55%;
  height: 30px;
  color: rgb(108, 125, 129);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Yoonwoo";
  font-size: 33px;
}

.name a {
  width: 55%;
  height: 70px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 50px;
  font-family: "ImcreSoojin";
}

.hd .bottom {
  width: 100%;
  height: 40px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 19px;
  font-weight: bold;
  font-family: "Cafe24SsurroundAir";
}

.bottom a {
  color: rgb(104, 104, 104);
  margin: 0px 15px;
}
